{% extends 'partials/layout/header.html' %}
{% load static %}

{% block title %}
    Delete Profile
{% endblock %}

{% block header_title %}
    Delete Profile
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/delete_profile.css' %}">
    <div class="delete-container">
        <div class="delete-box">
            <p>Are you sure you want to delete your profile?</p>
            <form action="{% url 'profile_delete' request.user.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Yes, delete my profile.">
            </form>
        </div>
    </div>
{% endblock %}
