{% extends 'partials/layout/header.html' %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}

{% block header_title %}
    Edit Profile
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <div class="add_recipe_container">

        <form method="post" action="{% url 'profile_edit' profile.pk %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="submit-btn">Save Changes</button>
        </form>
    </div>
{% endblock %}
