{% load static %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Details</title>
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
</head>
<body>


{% block main_content %}
    <div class="container">
        <header class="material-header">
            <h1>Edit Profile</h1>
        </header>
        <form method="post" action="{% url 'profile_edit' profile.pk %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="submit-btn">Save Changes</button>
        </form>
    </div>
{% endblock %}
