{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block main_content %}
<div class="login-register-div">
    <div class="login-register-box">
        <h1><i class="fas fa-utensils"></i> Welcome </h1>
        <form action="{% url 'login' %}?next={{ next }}" method="post">
            {{ form }}
            {% csrf_token %}
            <!-- Login Button-->
            <button type="submit" class="btn btn-primary">Log in</button>

        </form>
    </div>
            <div class="second-option">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
</div>

{% endblock %}
