{% extends 'partials/layout/header.html' %}
{% load static %}

{% block title %}
    {{ object.user.profile.full_name }}
{% endblock %}

{% block header_title %}
    {{ object.user.profile.full_name }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_details.css' %}">
    <div class="container">
        {% if object.user.profile.profile_picture %}
            <div class="profile-picture">
                <img src="{{ object.user.profile.profile_picture }}" alt="Profile Picture">
            </div>
        {% endif %}
    </div>
    <div class="container">
        {% if object.user.profile.about %}
            <p>{{ object.user.profile.about }}</p>
        {% endif %}
    </div>

    <!-- Displaying Recipes -->
    {% if object.user.recipes.exists %}
        <h1 class="recipes-heading">My Recipes:</h1>
        <div class="container">
            {% for recipe in object.user.recipes.all %}
                <div class="recipe">
                     <a href="{% url 'recipe_detail' recipe.id %}">
                        <h3>{{ recipe.title }}</h3>
                    </a>
                    {% if recipe.photo %}
                        <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}">
                    {% else %}
                        <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes found for this user.</p>
    {% endif %}
{% endblock %}
