{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/cooking_hat.png' %}">
    <title>Cooking tales</title>
</head>

<body>
        <nav class="navbar">
        <header class="material-header">
            <div class="navbar-menu">
                 <span class="material-icons">About</span>
            </div>
            <h1 class="navbar-brand">  Cooking tales</h1>
            <div class="navbar-menu">
                <a href="{% url 'login' %}" class="material-link ">Login</a>
                <span class="material-icons">Register</span>
            </div>
        </header>
    </nav>

    {% block main_content %}
    {% endblock %}

    <footer class="material-footer">
        <div>© 2024 Cooking tales </div>
        <div>
            <span class="material-icons">email</span>
            <span class="material-icons">phone</span>
        </div>
    </footer>
</body>

</html>
