/* add_recipe.css */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center; /* Center the content horizontally */
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 150px; /* Increase the height of the textarea */
    width: 100%; /* Adjust width as needed */
}

form button[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #2eb872;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}
