/* Add your custom styles here */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f0fff0;
}

.delete-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-box {
    width: 400px; /* Adjust the width as needed */
    padding: 50px; /* Add padding for spacing */
    background-color: #ffffff; /* White background */
    border: 1px solid #b0dab9; /* Light border color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
}

.delete-box .logo {
    width: 100px; /* Adjust the size of the logo */
    margin-bottom: 20px; /* Adjust margin bottom for spacing */
}

.delete-box h1 {
    font-family: 'Satisfy', cursive;
    font-size: 32px; /* Adjust font size */
    color: #333;
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.delete-box p {
    color: #666;
    margin-bottom: 20px; /* Adjust margin bottom for spacing */
}

.delete-box form {
    margin-top: 20px;
}

.delete-box input[type="submit"] {
    background-color: #4CAF50; /* Green button color */
    color: white;
    padding: 12px 20px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-box input[type="submit"]:hover {
    background-color: #45a049; /* Darker shade on hover */
}

.delete-box a {
    color: #007bbf;
    text-decoration: none;
}
