@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif; /* Switched to Open Sans for better readability in body */
    margin: 0;
    padding: 0;
    background-color: #f0fff0; /* Pale green background */
}

header, footer {
    padding-top: 55px;
    width: 100%;
    background-color: #c3e6cb;
    text-align: center;
    text-justify: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); /* Increased shadow */
}

header h1, footer p {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #333;
    margin: 0; /* Remove any default margin */
    padding: 0 0 20px; /* Adjust padding to ensure vertical centering */
    line-height: 1.2; /* Adjust line height to tighten the text block, if necessary */
}
/* Darker text for better contrast */


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

h2, p {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}

.submit-btn {
    padding: 10px 20px;
    background-color: #2eb872; /* Pale green background */
    color: #333; /* Dark text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.submit-btn:hover {
    background-color: #c8e6c9; /* Slightly darker shade of green on hover */
}

