@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Add some space between cards */
    padding: 20px; /* Add padding for better spacing */
}

.category-card {
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

.category-card:hover {
    transform: scale(1.05); /* Scale up on hover for a fancy effect */
}

.category-card img {
    width: 100%; /* Make sure the image takes up the full width of its container */
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.category-card h3 {
    margin: 15px 0;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
    color: #333;
}
.all-recipes-button {
    text-align: center; /* Center the button */
    margin-top: 5px; /* Increase the margin from other elements */
}

.all-recipes-button .btn {
    padding: 5px 200px; /* Increase padding to make the button larger */
    background-color: #2eb872; /* Change background color to green */
    color: #ffffff;
    border: none;
    border-radius: 30px; /* Increase border-radius for a rounded look */
    text-decoration: none;
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Add bold font weight for emphasis */
    transition: background-color 0.3s ease;
}

.all-recipes-button .btn:hover {
    background-color: #209d5a; /* Darker shade of green on hover */
}

