.login-register-div {
    width: 100%; /* Ensure it spans the width of the body */
    height: 100vh; /* Make it take up the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-register-box {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.login-register-box h1 {
    font-family: 'FontAwesome';
    font-size: 40px;
    color: #333;
}

.second-option {
    text-align: justify;
    margin-top: 20px;
}

.second-option p {
    margin: 10px 0;
}

.second-option a {
    color: #007bbf;
    text-decoration: none;
}

.second-option a:hover {
    text-decoration: underline;
}
