@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center; /* Center the content horizontally */
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

h2, p {
    color: #333;
}

.recipe {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px; /* Add margin to create space between recipes */
    display: inline-block; /* Ensure recipes are displayed inline */
    vertical-align: top; /* Align recipes to the top */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}


/* CSS for equalizing image dimensions */
.recipe img {
    width: 200px; /* Set a fixed width for all images */
    height: 300px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio while filling the container */
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: inline-block; /* Ensure the image is treated as a block element */
}

.recipe h3 {
    margin-top: 10px;
    color: #333;
    font-size: 1em;
    font-family: 'Satisfy', cursive;
}


/* Style for "My Recipes" heading */
.recipes-heading {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.2;
}

.recipe-container {
    margin-bottom: 40px;
}



