@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center; /* Center the content horizontally */
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

h2, p {
    color: #333;
}

.recipe {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}


.recipe img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: inline-block;
}

.recipe h3 {
    text-decoration: none;
    margin-top: 10px;
    color: #333;
    font-size: 20px;
    font-family: 'Satisfy', cursive;

}

.recipes-heading {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.2;
}

.recipe-container {
    margin-bottom: 40px;
}



