@import './home.css';
@import './login.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.material-header {
    background-color: #C3E6CB; /* Pale pastel green background */
    color: #333; /* Dark text color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for header */
}

.material-header .material-icons {
    font-size: 30px; /* Icon size */
    cursor: pointer;
}

.material-header h1 {
    margin: 10px;
    font-size: 35px;
    gap: normal;
;
}

/* Footer Styles */
.material-footer {
    background-color: #C3E6CB; /* Pale pastel green background */
    color: #333; /* Dark text color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixed position at the bottom */
    bottom: 0;
    width: calc(100% - 40px); /* Subtracting the padding from the width */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Shadow for footer */
}

/* Main Content Styles */
main {
    padding: 20px; /* Add padding to main content */
}

/* Additional Styling for Links */
a {
    color: #333333; /* Dark green color for links */
    text-decoration: none; /* Remove default underline */
    font-size: 30px;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Additional Styles for Body */
body {
    font-family: 'Satisfy', cursive;
    font-size: large;
    color: #333;
    background: linear-gradient(to right, #F0FAF0, #E0F7E0, #F0FAF0);
    padding-bottom: 100px; /* Adjust this value according to the height of your footer */
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-inner {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 20px 20px;
}


.navbar-brand {;
    font-size: 40px;
    gap: 20px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-menu .material-icons {
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-inner {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
