/* Import external stylesheets */
@import './home.css';
@import './login.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.material-header {
    background-color: #C3E6CB; /* Pale pastel green background */
    color: #333; /* Dark text color */
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for header */
}

.material-header h1 {
    margin: 0; /* Reset margin */
    font-size: 35px;
    /* No need for align-content, as it's for aligning flex lines in multi-line flex containers */
}

.material-header .material-icons {
    font-size: 30px; /* Icon size */
    cursor: pointer;
}

/* Footer Styles */
.material-footer {
    background-color: #C3E6CB; /* Pale pastel green background */
    color: #333; /* Dark text color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixed position at the bottom */
    bottom: 0;
    width: calc(100% - 40px); /* Subtracting the padding from the width */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Shadow for footer */
}

/* Main Content Styles */
main {
    padding: 20px; /* Add padding to main content */
}

/* Additional Styling for Links */
a {
    color: #333; /* Dark green color for links */
    text-decoration: none; /* Remove default underline */
    font-size: 18px; /* Reduce font size for better readability */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Additional Styles for Body */
body {
    font-family: 'Satisfy', cursive;
    font-size: large;
    color: #333;
    background: linear-gradient(to right, #F0FAF0, #E0F7E0, #F0FAF0);
    padding-bottom: 100px; /* Adjust this value according to the height of your footer */
}

.all-recipes-button .btn:hover {
    background-color: #0056b3;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Material Header */
.material-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 35px;
    margin-right: 10px;
}

.logo a {
    color: #333;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.nav-item a i {
    margin-right: 5px; /* Adjust icon-text spacing */
    font-size: 20px; /* Adjust icon size */
}

/* Additional styling for icons on hover */
.nav-item a i:hover {
    color: #007bff; /* Change icon color on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .material-header {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .logo a {
        font-size: 20px;
    }

    .nav-item a {
        font-size: 16px;
    }
}