@import './home.css';
@import "./add_recipe.css";
@import "./recipe_list.css";
@import "./edit_profile.css";
@import "./recipe_details.css";
@import "./login.css";
@import "./profile_details.css";
@import "./delete_profile.css";
@import "./404.css";
@import "./header.css";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body {
    background: linear-gradient(to right, #F0FAF0, #E0F7E0, #F0FAF0);
    font-family: 'Satisfy', cursive;
    margin: 0; /* Add this line to remove default margin */
    font-size: large;
    color: #333;
    padding-bottom: 100px; /* Adjust this value according to the height of your footer */
}


/* Styling for the title */
.cooking-title {
    text-align: center;
    color: #333;
    font-size: 35px;
    margin: 0;
}

/* Styling for the navbar */
.navbar {
    position: fixed;
    padding: 10px 20px;
    top: 0;
    left: 0;
    width: 97%;
    background-color:  #C3E6CB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    color: #333;
    text-decoration: none;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}


.nav-item-placeholder {
    width: 110px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
}


.nav-item:hover {
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px 10px;
    }

    .cooking-title {
        font-size: 20px;
    }

    .nav-item {
        font-size: 20px;
    }
}

.footer {
    background-color: #C3E6CB;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

/* styles.css */
.rating-radio label {
    display: inline-block;
    margin-right: 10px;  /* Adjust margin as needed */
}
