{% extends 'partials/layout/header.html' %}
{% load static %}

{% block title %}
    Add a New Recipe
{% endblock %}

{% block header_title %}
    Add a New Recipe
{% endblock %}

{% block content %}
     <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_recipe.css' %}">

    <div class="container">
        <form action="{% url 'recipe_add' %}" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}


