{% extends 'partials/layout/header.html' %}
{% load static %}


{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block header_title %}
    {{ recipe.title }}
{% endblock %}

{% block content %}
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/recipe_details.css' %}">
    <div class="container">
         <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" class="main-image">
        <div class="details-view">
            <h3>Ingredients:</h3>
            <p>{{ recipe.ingredients }}</p>
        </div>
        <div class="details-view">
            <h3>Instructions:</h3>
            <p>{{ recipe.instructions }}</p>
        </div>
        <div class="details-view">
            <h3>Category:</h3>
            <p>{{ recipe.category }}</p>
            <h3>Average Rating:</h3>
            <p>{{ recipe.average_rating|default:"No ratings yet" }}</p>
        </div>
        <div class="details-view">
            <h3>Rate this Recipe:</h3>
            <form method="post" action="{% url 'vote_for_recipe' recipe.pk %}">
                {% csrf_token %}
                {{ rating_form.as_p }}
                <button type="submit" class="submit-btn">Submit Rating</button>
            </form>
        </div>
    </div>

{% endblock %}
